.signature{
  margin-top: 5px;
  text-align: center;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: 25px;
  color:rgb(223, 222, 233);
}

.links{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.links img{
  margin-right: 10px;
}

#linkedin-icon:hover{
  transform: scale(1.25);
  transition: .2s;
}

#github-icon:hover{
  transform: scale(1.25);
  transition: .2s;
}