.menu-buttons{
  position: absolute;
  right: 25%;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none
}

.menu-buttons li{
  margin: 0px auto;
  display: block;
  width:200px;
  padding:20px;
  margin: 10px;
  color: black;
  font-family: monospace;
  font-size: large;
  text-shadow:0.5px 0.5px #494949;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight: 700;
  text-align: center;
  transition: all .3s ease-in-out 0s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 0px;
  background-image: linear-gradient(45deg, #1b9c2c 0%, #76e967  51%, #1b9c2c  100%);
  cursor: pointer;
  touch-action: manipulation;
}

.menu-buttons li:hover{
  transform:translateY(-6px);
  background-position: right center;
  text-decoration: none;
}

.difficulty-buttons{
  position: absolute;
  right: 25%;
  top: 25%;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  list-style: none
}

.difficulty-buttons li{
  margin: 0px auto;
  display: block;
  width:200px;
  padding:20px;
  margin: 10px;
  color: black;
  font-family: monospace;
  font-size: large;
  text-shadow:0.5px 0.5px #494949;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight: 700;
  text-align: center;
  transition: all .3s ease-in-out 0s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 0px;
  background-image: linear-gradient(45deg, #1b9c2c 0%, #76e967  51%, #1b9c2c  100%);
  cursor: pointer;
  touch-action: manipulation;
}

.difficulty-buttons li:hover{
  color: #e6e6e6;
  transform: translateY(-6px)
}

#back-button{
  display: none;
  margin: 0px auto;
  position: absolute;
  right: 50%;
  bottom: 9%;
  transform: translate(50%, 0);
  width: 200px;
  padding: 20px;
  color: black;
  font-family: monospace;
  font-size: large;
  text-shadow: 0.5px 0.5px #494949;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  transition: all .3s ease-in-out 0s;
  background-size: 200% auto;
  border-radius: 10px;
  border: 0px;
  background-image: linear-gradient(45deg, #1b9c2c 0%, #76e967  51%, #1b9c2c  100%);
  cursor: pointer;
  touch-action: manipulation
}

#back-button:hover{
  transform: translate(50%, -6px);
  background-position: right center;
  text-decoration: none;
}