* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#game-canvas{
  border: 5px solid black;
  // box-shadow: x, y, blur, spread, color;
}

#base-dino{
  display: none;
}

#cyborg-dino{
  display: none;
}